<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button routerLink="/app/tabs/dashboard"> <ion-icon slot="icon-only" name="home"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<!-- prettier-ignore -->
<ion-content fullscreen="true">
  <ion-list *ngIf="events$ | async as events">
    <ion-item-sliding *ngFor="let event of events" #slidingItem>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="slidingItem.close();" routerLink="/app/tabs/events/update/{{event.id}}" > &nbsp;&nbsp;Edit&nbsp;&nbsp; </ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(slidingItem,event.id);" > Delete </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label style="padding-left: 10px; border-left: 2px solid #3bc7c4">
          <h3>{{event.name|titlecase}}</h3>
          <p style="text-wrap: balance" [innerHTML]="getAddressString(event) | titlecase"
          ></p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab
    slot="fixed"
    routerLink="/app/tabs/events/add"
    vertical="bottom"
    horizontal="end"
    #fab
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
