<ng-container *ngIf="route.params | async as params">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="!params.id">Add Member</ion-title>
      <ion-title *ngIf="!!params.id">Update Member</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true">
    <div style="display: flex;flex-direction: column;height: 95%;">
      <ng-container *ngIf="user$ | async as user">
        <form #memberForm="ngForm">
          <!-- prettier-ignore -->
          <ion-list>
            <ion-item *ngIf="apartments$ | async as apartments">
              <ion-select [required]="true" label="Apartment" labelPlacement="floating" [(ngModel)]="dataToEdit['apartment']" name="apartment" placeholder="Select Apartment" >
              <ion-select-option *ngFor="let apartment of apartments" [value]="apartment.id" >{{apartment.name}}</ion-select-option >
            </ion-select>
            </ion-item>
          </ion-list>
        </form>
        <!-- prettier-ignore -->
        <ion-label class="ion-padding">
          <p>Please select Apartment and Scan or Upload Member QR Code.</p>
        </ion-label>
        <div style="margin-top: auto;"></div>
        <!-- prettier-ignore -->
        <ion-button (click)="isModalOpen = true;" [disabled]="!dataToEdit['apartment']" expand="block" >Scan Member QR Code</ion-button >
        <!-- prettier-ignore -->
        <ion-button expand="block" (click)="fileInput.click()" [disabled]="!dataToEdit['apartment']">Upload Member QR Code</ion-button >
        <!-- prettier-ignore -->
        <input type="file" style="display: none" (change)="onQrUploadSelects($event)" #fileInput [accept]="'.jpg, .png, .gif, .jpeg'" />
        <!-- prettier-ignore -->
        <ion-button expand="full" color="dark"> Cancel <ion-back-button class="back-button-inside-button" defaultHref="/app/tabs/members" ></ion-back-button> </ion-button>
      </ng-container>
    </div>

    <!-- prettier-ignore -->
    <ion-modal #modal [isOpen]="isModalOpen" (didDismiss)="onModalDismiss();" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75]" >
      <ng-template>
        <ion-content *ngIf="isModalOpen">
          <!-- prettier-ignore -->
          <ng-container>
          <br/>
          <ion-item *ngIf="action.devices | async as devices">
            <ion-select label="Select device" (ionChange)="action.playDevice($event.detail.value)" labelPlacement="floating" name="device" placeholder="Select device" >
              <ion-select-option  *ngFor="let c of devices;let ind = index;" [value]="c.deviceId" >{{c.label}}</ion-select-option >
            </ion-select>
          </ion-item>
          <br/>
          <div class="qrcodeImage">
            <div class="innter">
              <ngx-scanner-qrcode [isBeep]="true" (event)="onQrScannerEvent($event, action)" #action="scanner"></ngx-scanner-qrcode>
              <!-- <div style="height: 0px;opacity: 0;">{{action.start()|json}}</div> -->
            </div>
          </div>
        </ng-container>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <!-- prettier-ignore -->
                <ion-button (click)="action.isStart ? action.stop() : action.start()" expand="full" >{{action.isStart ? 'Stop Scan' : 'Start Scan'}}</ion-button>
              </ion-col>
              <ion-col size="6">
                <!-- prettier-ignore -->
                <ion-button (click)="action?.stop();onModalDismiss();" color="dark" expand="full" >Cancel</ion-button >
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- prettier-ignore -->
    <ion-modal id="smallModal" (didDismiss)="newMemberDetails = null;" [isOpen]="!!newMemberDetails" #smallModal trigger="open-custom-dialog" >
      <ng-template>
        <div class="wrapper" *ngIf="newMemberDetails">
          <ion-item>
            <ion-avatar slot="start">
              <!-- prettier-ignore -->
              <img alt="Silhouette of a person's head" [src]="newMemberDetails?.photoURL" />
            </ion-avatar>
            <ion-label>
              <h1>{{newMemberDetails?.displayName | titlecase}}</h1>
              <h3>{{newMemberDetails?.email}}</h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <small><pre>{{newMemberDetails|json}}</pre></small>
              <!-- prettier-ignore -->
              <p style="text-wrap: balance"> Are you sure! Do you want to add above user ? </p>
            </ion-label>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button color="primary" (click)="yesAddMemberToApartment();" expand="full"> Yes </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button color="dark" (click)="closeConfirmModal();" expand="full"> No </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
</ng-container>
