<ng-container *ngIf="route.params | async as params">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="apartment">
        <ion-skeleton-text
          *ngIf="!apartment"
          [animated]="true"
        ></ion-skeleton-text>
        <ng-container *ngIf="!params.id"
          >Add Member in {{apartment.name}}</ng-container
        >
        <ng-container *ngIf="!!params.id"
          >Update {{apartment.name}} Member</ng-container
        >
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ng-container *ngIf="user$ | async as user">
      <app-edit-member-details
        [apartment]="apartment"
        [userDetails]="newMemberDetails"
        [dataToEdit]="dataToEdit"
        (save)="!route.snapshot.params.id ? save($event,user) :  update($event,user)"
      ></app-edit-member-details>
      <ng-container
        *ngIf="apartment && !dataToEdit.id && !route.snapshot.params.id"
      >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button
                (click)="isModalOpen = true;"
                [disabled]="!apartment"
                expand="full"
                >Scan QR</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button
                expand="full"
                (click)="fileInput.click()"
                [disabled]="!apartment"
                >Upload QR</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
        <input
          type="file"
          style="display: none"
          (change)="onQrUploadSelects($event)"
          #fileInput
          [accept]="'.jpg, .png, .gif, .jpeg'"
        />
      </ng-container>
    </ng-container>

    <ion-modal
      #modal
      [isOpen]="isModalOpen"
      (didDismiss)="onModalDismiss();"
      [initialBreakpoint]="0.75"
      [breakpoints]="[0, 0.75]"
    >
      <ng-template>
        <ion-content *ngIf="isModalOpen">
          <ng-container>
            <ion-item *ngIf="action.devices | async as devices">
              <ion-select
                label="Select device"
                (ionChange)="action.playDevice($event.detail.value)"
                labelPlacement="floating"
                name="device"
                placeholder="Select device"
              >
                <ion-select-option
                  *ngFor="let c of devices;let ind = index;"
                  [value]="c.deviceId"
                  >{{c.label}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <br />
            <div class="qrcodeImage">
              <div class="innter">
                <ngx-scanner-qrcode
                  [isBeep]="true"
                  (event)="onQrScannerEvent($event, action)"
                  #action="scanner"
                ></ngx-scanner-qrcode>
              </div>
            </div>
          </ng-container>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-button
                  (click)="action.isStart ? action.stop() : action.start()"
                  expand="full"
                  >{{action.isStart ? 'Stop Scan' : 'Start Scan'}}</ion-button
                >
              </ion-col>
              <ion-col size="6">
                <ion-button
                  (click)="action?.stop();onModalDismiss();"
                  color="dark"
                  expand="full"
                  >Cancel</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ng-container>
