img {
  max-width: 140px;
  border-radius: 50%;
}
.qrcodeImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}
