<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <!-- <ion-list-header> Apartment Management </ion-list-header> -->
          <ng-container *ngFor="let module of modules">
            <ion-menu-toggle autoHide="false" *ngIf="!module.hideInSideMenu">
              <ion-item
                [routerLink]="module.route"
                routerLinkActive="selected"
                routerDirection="root"
                detail="false"
              >
                <ion-icon slot="start" [name]="module.icon"> </ion-icon>
                <ion-label>{{module.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>

        <!--
          <ion-list-header> For Demo Only </ion-list-header>
          <ion-menu-toggle
            autoHide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              [routerLink]="p.url"
              routerLinkActive="selected"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
         -->
        </ion-list>

        <ion-list *ngIf="loggedIn" lines="none">
          <ion-list-header> Account </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/account"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label> Account </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/support"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label> Support </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label> Logout </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-toggle [(ngModel)]="dark"> Dark Mode </ion-toggle>
          </ion-item>

        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header> Account </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/login"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label> Login </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/support"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label> Support </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item
              routerLink="/signup"
              routerLinkActive="active"
              routerDirection="root"
              detail="false"
            >
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label> Signup </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-toggle [(ngModel)]="dark"> Dark Mode </ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header> Tutorial </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<div
  style="
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  "
  *ngIf="loader.isLoader$ | async as isLoader"
  [style.backgroundColor]="dark ? 'rgba(255,255,255,0.4)' : 'rgba(0,0,0,0.2)'"
>
  <ion-spinner
    style="width: 100px; height: 100px"
    [color]="dark ? 'light' : 'dark'"
    name="crescent"
  ></ion-spinner>
  <!-- <ion-spinner style="width: 100px;height: 100px;" name="bubbles"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="circles"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="circular"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="dots"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="lines"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="lines-sharp"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="lines-sharp-small"></ion-spinner>
  <ion-spinner style="width: 100px;height: 100px;" name="lines-small"></ion-spinner> -->
</div>
