<ng-container *ngIf="!!apartmentsService.apartments; else inProgressLoader">
  <ion-title>
    <div>
      {{ labelFor }}&nbsp;
      <ion-button
        *ngIf="!apartmentsService.selectedApartment"
        fill="clear"
        (click)="presentActionSheet( )"
      >
        Select Aparment
      </ion-button>
      <span (click)="presentActionSheet()">{{ apartmentsService.selectedApartment ? (apartmentsService.selectedApartment.name) : "" }}</span>
    </div>
  </ion-title>
</ng-container>

<ng-template #inProgressLoader>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>
